/* Installation Component */
.code {
  padding: 0 62px 0 12px;
  border-radius: 6px;
  background: linear-gradient(to top, var(--gray2), var(--gray1) 8px);
  font-family: var(--font-mono);
  font-size: 14px;
  cursor: copy;
  height: 40px;
  border: 1px solid var(--gray3);
  display: flex;
  align-items: center;
  color: var(--gray12);
  position: relative;
  margin: 16px 0;
  transition:
    background 200ms,
    border-color 200ms;
}

.code:hover {
  background: linear-gradient(to top, var(--gray3), var(--gray2) 8px);
  border-color: var(--gray4);
}

.copy {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--gray4);
  background: var(--gray0);
  border-radius: 5px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background 200ms,
    border-color 200ms;
  color: var(--gray12);
}

.copy:hover {
  background: var(--gray1);
  border-color: var(--gray5);
}

.copy:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--gray4);
}
